body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.items-container img{
    width: 100%;
    object-fit: cover;
    height: 500px;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    margin-top: 150px;
}

.items-thumbnails{
    width: 200px;
    height: 500px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
        & img {
            width: 100%;
            height: calc(490px/5);
            object-fit: cover;
            display: block;
        }
}

.dark-layer {
    
}

.border{
    border: 5px solid gray;
}

.ms_arrow{
    border: 2px solid lightgray;
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    position: absolute;
    transform: translatex(50%);
    background-color: rgba(128, 128, 128, 0.356);
}

.item{
    display: none;
}

.active{
    display: block;
}

.next{
    right: 100px;
    top: 0;
}

.back{
    bottom: 5px;
    right: 100px;
}

/* DEBUG */
.debug .container, .debug .items-thumbnails {
    border: 2px solid red;
    height: 500px;
}