body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.items-container img{
    width: 100%;
    object-fit: cover;
    height: 500px;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    margin-top: 150px;
}

.items-thumbnails{
    width: 200px;
    height: 500px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
        & img {
            width: 100%;
            height: calc(490px/5);
            object-fit: cover;
            display: block;
        }
}

.ms_arrow{
    width: 50px;
    border-radius: 50%;
    aspect-ratio: 1;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    position: absolute;
    transform: translatex(50%);
    background-color: rgba(128, 128, 128, 0.356);
    transition: 0.5s;
    &:hover{
        background-color: rgb(128, 128, 128);
    }
}

.item{
    display: none;
}

.active{
    display: block;
}

.next{
    right: 100px;
    top: 5px;
}

.back{
    bottom: 10px;
    right: 100px;
}

.thumb{
    opacity: 0.3;
}

.border{
    border: 5px solid gray;
    opacity: 1;
    transition: 0.5s;
}


/* DEBUG */
.debug .container, .debug .items-thumbnails {
    border: 2px solid red;
    height: 500px;
}